.red {
  border: 3px solid red;
  color: red;
}

.green {
  border: 3px solid rgb(6, 240, 15);
  color: green;
}

.questions {
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgb(32, 32, 32);
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 40px;
  width: 40%;
}

.questions button {
  background-color: #c3c7c6;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  height: 80px;
  margin: 4px 2px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
  width: 150px;
}

.questions button:hover {
  background-color: rgb(122, 122, 122);
  color: white;
}
