.feedback {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}

.feedback h1 {
  color: white;
}

.feedback-form {
  align-items: center;
  background-color: #0b578d;
  border: solid #ef45cd 5px;
  border-radius: 50px;
  box-shadow: 3px 3px 30px #e60a32;
  color: #fffffe;
  display: flex;
  flex-direction: column;
  padding: 100px;
  text-transform: uppercase;
  width: 200px;
}

.feedback-form h2 {
  margin-top: -40px;
}

.feedback-form .button {
  background-color: #3da9fc;
  border: solid #3295e0 2px;
  border-radius: 5px;
  box-shadow: 3px 3px 15px #1e8bdf;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  height: 50px;
  margin: 4px 2px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition-duration: 0.4s;
  width: 150px;
}


.feedback-form .button:hover {
  background-color: #ed627c;
  border: solid #ef4565 2px;
  box-shadow: 3px 3px 30px #e60a32;
  color: white;
}
