body {
  background-image: url('../imgs/27542.png');
  /* background-size: cover; */
  box-sizing: border-box;
  font-family: monospace;
  font-size: large;
  margin: 0;
  padding: 0;
}

.App-logo {
  height: 15vmin;
  margin-bottom: -150px;
  margin-top: 80px;
  pointer-events: none;
}

.login-main {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.login {
  align-items: center;
  background-color: #0b578d;
  border: solid #ef45cd 5px;
  border-radius: 50px;
  box-shadow: 3px 3px 30px #e60a32;
  color: #fffffe;
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  padding: 100px;
  text-transform: uppercase;
  width: 200px;
}

.login h1 {
  margin-top: -30px;
}

.login button {
  background-color: #3da9fc;
  border: solid #3295e0 2px;
  border-radius: 5px;
  box-shadow: 3px 3px 15px #1e8bdf;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  height: 50px;
  margin: 4px 2px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition-duration: 0.4s;
  width: 150px;
}

.login button:first-of-type {
  margin-bottom: -10px;
  margin-top: 20px;
}

.login button:hover {
  background-color: #ed627c;
  border: solid #ef4565 2px;
  box-shadow: 3px 3px 30px #e60a32;
  color: white;
}

.form-login {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.form-login input {
  background-color: #052b46;
  border-radius: 10px;
  color: #fffffe;
  font-size: 16px;
  height: 30px;
  margin: 10px;
  padding: 5px;
  padding-left: 20px;
  width: 250px;
}

.form-login input:focus {
  border: solid #ef4565 2px;
  box-shadow: 3px 3px 30px #e60a32;
}
